/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/database/seeds/UsersTableSeeder.php
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.test
.env.prod
/*.zip


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

database/seeds/UsersTableSeeder.php

database/seeds/UsersTableSeeder.php